server:
  port: 2333
  address: 0.0.0.0

lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
      repository: "https://maven.lavalink.dev/releases"
  server:
    password: "${LAVALINK_SERVER_PASSWORD:youshallnotpass}"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    playerUpdateInterval: 5

plugins:
  youtube:
    enabled: true
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    clients:
      - MUSIC
      - WEB
      - ANDROID_VR
      - TVHTML5EMBEDDED
    remoteCipher:
      url: "https://cipher.kikkia.dev/"
    oauth:
      enabled: true
      # 第一次啟動：不填 refreshToken，看 log 完成授權流程
      # 授權完成後把 token 填回來：
      refreshToken: "${YOUTUBE_OAUTH_REFRESH_TOKEN}"


logging:
  level:
    root: INFO
    lavalink: INFO
    dev.lavalink.youtube: DEBUG